- var content=[{sender:{name:"Lê Hồng Minh",image:"./images/t-i-xu-ng-1.png"},to:{name:"Nguyễn Xuân Anh",image:"./images/t-i-xu-ng-4.png"},re:{name:"Lê Bảo Châu",image:"./images/t-i-xu-ng-4.png"},message:"Tìm hiểu về máy lăn kim mini và chế độ chăm sóc da sau lăn kim tại nhà",time:"8/6 9:29"},{sender:{name:"Nguyễn Thị Như Hoa",image:"./images/images-4.png"},quote_index:0,message:"Anh đi đâu mà mấy hôm nay không gặp thế?",time:"8/6 9:31", open_option: 1},{sender:{name:"Lê Hồng Minh",image:"./images/t-i-xu-ng-1.png"},to:{name:"Nguyễn Thị Như Hoa",image:"./images/images-4.png"},message:"Anh cũng chuẩn bị đi xa giống em rồi nhé :D",time:"8/6 9:32"},{sender:{name:"Lê Hoàng Diệp Thảo",image:"./images/t-i-xu-ng-1.png"},task:{number:"Task19283",name:"Tạo danh sách các nhóm thuốc"},to:{name:"Nguyễn Thị Như Hoa",image:"./images/images-4.png"},message:"Người lạ ơi mình bắt đầu lấy dữ liệu từ A đến Z nhé",time:"8/6 9:32"},{sender:{name:"Nguyễn Thị Như Hoa",image:"./images/images-4.png"},quote_index:3,message:"Vậy bắt đầu trong tuần này luôn em nhé!",time:"8/6 9:45"},{sender:{name:"Lê Hồng Minh",image:"./images/t-i-xu-ng-1.png"},task:{number:"Task19283",name:"Tạo danh sách các nhóm thuốc"},re:{name:"Lê Hồng Minh",image:"./images/t-i-xu-ng-1.png"},message:"Ok vậy để em chuyển qua cột tiến hành để làm luốn á!",time:"8/6 9:55",unread:!0}];
mixin render(item, quote, isquote)
    .line(class= message_option_screen && item.open_option ? 'highlight' : item.unread ? 'unread': '')
        .left-col
            span.avatar
                img(src= item.sender.image, alt= item.sender.name)
        .right-col
            h4.sender-name= item.sender.name
            .line-content
                if quote !== undefined
                    blockquote
                        +render(content[quote],undefined, true)
                if item.task
                    .task
                        span.mark.blue= item.task.number
                        span= item.task.name
                if item.to
                    .to
                        span.mark To
                            span.avatar
                                img(src= item.to.image, alt= item.to.name)
                        span= item.to.name
                if item.re
                    .re
                        span.mark Re
                            span.avatar
                                img(src= item.re.image, alt= item.re.name)
                        span= item.re.name
                p.message= item.message
            if isquote != true
                span.time= item.time
        if message_option_screen && item.open_option
            .message-option.float
                ul.actions
                    li
                        a.action-link(href="#")
                            img(src="./images/forma-21.png", alt="Trả lời")
                            span Trả lời
                    li
                        a.action-link(href="#")
                            img(src="./images/forma-22.png", alt="Trích dẫn")
                            span Trích dẫn
                    li
                        a.action-link(href="#")
                            img(src="./images/forma-23.png", alt="Công việc")
                            span Công việc
                    li
                        a.action-link(href="#")
                            img(src="./images/forma-24.png", alt="Go to")
                            span Go to
                    li
                        a.action-link(href="#")
                            img(src="./images/forma-25.png", alt="Xóa")
                            span Xóa
                    li
                        a.action-link(href="#")
                            img(src="./images/forma-26.png", alt="Sửa")
                            span Sửa

        
.main-screen
    each item in content
        +render(item, item.quote_index)
